<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Shop | eCommers</title>
    <meta name="description" content>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/client_assets/img/icon/favicon.png}">

    <link rel="stylesheet" th:href="@{/client_assets/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/client_assets/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/client_assets/css/slicknav.css}">
    <link rel="stylesheet" th:href="@{/client_assets/css/flaticon.css}">
    <link rel="stylesheet" th:href="@{/client_assets/css/animate.min.css}">
    <link rel="stylesheet" th:href="@{/client_assets/css/price_rangs.css}">
    <link rel="stylesheet" th:href="@{/client_assets/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/client_assets/css/fontawesome-all.min.css}">
    <link rel="stylesheet" th:href="@{/client_assets/css/themify-icons.css}">
    <link rel="stylesheet" th:href="@{/client_assets/css/slick.css}">
    <link rel="stylesheet" th:href="@{/client_assets/css/nice-select.css}">
    <link rel="stylesheet" th:href="@{/client_assets/css/style.css}">
    <style>
        .add-to-cart-link {
            display: inline-block;
            padding: 10px 15px;
            background-color: #4CAF50; /* Green color, you can change this */
            color: white;
            text-decoration: none;
            border-radius: 5px;
            transition: background-color 0.3s;
        }

        .add-to-cart-link:hover {
            background-color: #45a049; /* Darker green color on hover */
        }
    </style>
</head>
<body>

<div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="preloader-circle"></div>
            <div class="preloader-img pere-text">
                <img th:src="@{/client_assets/img/icon/loder.png}" alt="loder">
            </div>
        </div>
    </div>
</div>

<header>
    <div class="header-area">
        <div class="header-top d-none d-sm-block">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="d-flex justify-content-between flex-wrap align-items-center">
                            <div class="header-info-left">
                                <ul>
                                    <li><a href="#">About Us</a></li>
                                    <li><a href="#">Privacy</a></li>
                                    <li><a href="#">FAQ</a></li>
                                    <li><a href="#">Careers</a></li>
                                </ul>
                            </div>
                            <div class="header-info-right d-flex">
                                <ul class="order-list">
                                    <li><span th:text="'Hello, ' + ${email}"></span></li>
                                    <li><a th:href="@{/client/order}">Track Your Order</a></li>
                                </ul>
                                <ul class="header-social">
                                    <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                    <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-mid header-sticky">
            <div class="container">
                <div class="menu-wrapper">

                    <div class="logo">
                        <a th:href="@{/client/home}"><img th:src="@{/client_assets/img/logo/logo.png}" alt></a>
                    </div>

                    <div class="main-menu d-none d-lg-block">
                        <nav>
                            <ul id="navigation">
                                <li><a th:href="@{/client/home}">Home</a></li>
                                <li><a th:href="@{/client/file}">Files</a></li>
                            </ul>
                        </nav>
                    </div>

                    <div class="header-right">
                        <ul>
                            <li>
                                <div class="nav-search search-switch hearer_icon">
                                    <a id="search_1" href="javascript:void(0)">
                                        <span class="flaticon-search"></span>
                                    </a>
                                </div>
                            </li>
                            <li><a th:href="@{/client/profile}"><span class="flaticon-user"></span></a></li>
                            <li class="cart"><a th:href="@{/client/cart}"><span class="flaticon-shopping-cart"></span></a></li>
                        </ul>
                    </div>
                </div>

                <div class="search_input" id="search_input_box">
                    <form class="search-inner d-flex justify-content-between ">
                        <input type="text" class="form-control" id="search_input" placeholder="Search Here">
                        <button type="submit" class="btn"></button>
                        <span class="ti-close" id="close_search" title="Close Search"></span>
                    </form>
                </div>

                <div class="col-12">
                    <div class="mobile_menu d-block d-lg-none"></div>
                </div>
            </div>
        </div>
        <div class="header-bottom text-center">
            <p>Sale Up To 50% Biggest Discounts. Hurry! Limited Perriod Offer <a href="#" class="browse-btn">Shop
                Now</a></p>
        </div>
    </div>
</header>
<main>





    <div class="latest-items section-padding fix">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-xl-12">
                    <div class="nav-button">

                        <nav>
                            <div class="nav-tittle">
                                <h2>Trending This Week</h2>
                            </div>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <a class="nav-link active" id="nav-one-tab" data-bs-toggle="tab" href="#nav-one"
                                   role="tab" aria-controls="nav-one" aria-selected="true">File 1</a>
                                <a class="nav-link" id="nav-two-tab" data-bs-toggle="tab" href="#nav-two" role="tab"
                                   aria-controls="nav-two" aria-selected="false">File 2</a>
                                <a class="nav-link" id="nav-three-tab" data-bs-toggle="tab" href="#nav-three" role="tab"
                                   aria-controls="nav-three" aria-selected="false">File 3</a>
                                <a class="nav-link" id="nav-four-tab" data-bs-toggle="tab" href="#nav-four" role="tab"
                                   aria-controls="nav-four" aria-selected="false">File 4</a>
                            </div>
                        </nav>

                    </div>
                </div>
            </div>
        </div>
        <div class="container">

            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-one" role="tabpanel" aria-labelledby="nav-one-tab">

                    <div class="latest-items-active">
                        <div class="properties pb-30" th:each="file : ${files}">
                            <div class="properties-card">
                                <div class="properties-img">
                                    <a th:href="@{/client/file/detail/{fileId}(fileId=${file.id})}">
                                        <img th:src="@{/imgs/file.png}" alt="File Thumbnail">
                                    </a>
                                    <div class="socal_icon">
                                        <form th:action="@{'/files/' + ${file.link} + '-' + ${file.originalFilename}}" method="get">
                                            <input type="hidden" name="id" th:value="${file.id}" />
                                            <input type="hidden" name="quantity" value="1" />
                                            <button class="add-to-cart-link" onclick="return confirm('Bạn có muốn tải không?')">
                                                <i class="ti-shopping-cart"></i>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                                <div class="properties-caption properties-caption2">
                                    <h3>
                                        <a th:href="@{/client/file/detail/{fileId}(fileId=${file.id})}" th:text="${file.description}"></a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>


</main>


<div id="back-top">
    <a class="wrapper" title="Go to Top" href="#">
        <div class="arrows-container">
            <div class="arrow arrow-one">
            </div>
            <div class="arrow arrow-two">
            </div>
        </div>
    </a>
</div>


<script th:src="@{/client_assets/js/vendor/modernizr-3.5.0.min.js}"></script>
<script th:src="@{/client_assets/js/vendor/jquery-1.12.4.min.js}"></script>
<script th:src="@{/client_assets/js/popper.min.js}"></script>
<script th:src="@{/client_assets/js/bootstrap.min.js}"></script>

<script th:src="@{/client_assets/js/owl.carousel.min.js}"></script>
<script th:src="@{/client_assets/js/slick.min.js}"></script>
<script th:src="@{/client_assets/js/jquery.slicknav.min.js}"></script>

<script th:src="@{/client_assets/js/wow.min.js}"></script>
<script th:src="@{/client_assets/js/jquery.magnific-popup.js}"></script>
<script th:src="@{/client_assets/js/jquery.nice-select.min.js}"></script>
<script th:src="@{/client_assets/js/jquery.counterup.min.js}"></script>
<script th:src="@{/client_assets/js/waypoints.min.js}"></script>
<script th:src="@{/client_assets/js/price_rangs.js}"></script>

<script th:src="@{/client_assets/js/contact.js}"></script>
<script th:src="@{/client_assets/js/jquery.form.js}"></script>
<script th:src="@{/client_assets/js/jquery.validate.min.js}"></script>
<script th:src="@{/client_assets/js/mail-script.js}"></script>
<script th:src="@{/client_assets/js/jquery.ajaxchimp.min.js}"></script>

<script th:src="@{/client_assets/js/plugins.js}"></script>
<script th:src="@{/client_assets/js/main.js}"></script>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'UA-23581568-13');
</script>
<script defer src="https://static.cloudflareinsights.com/beacon.min.js/v84a3a4012de94ce1a686ba8c167c359c1696973893317"
        integrity="sha512-euoFGowhlaLqXsPWQ48qSkBSCFs3DPRyiwVu3FjR96cMPx+Fr+gpWRhIafcHwqwCqWS42RZhIudOvEI+Ckf6MA=="
        data-cf-beacon='{"rayId":"842605dd89cc1072","version":"2023.10.0","token":"cd0b4b3a733644fc843ef0b185f98241"}'
        crossorigin="anonymous"></script>
</body>
</html>